@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.home-bg {
  background: linear-gradient(135deg, #0c0f2c, #4d71cd, #655ac9);
  background-image: url('../assets/bg/home_pattern.png'),
    linear-gradient(135deg, #0c0f2c, #4d71cd, #655ac9);
  background-repeat: repeat, no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.cover-container {
  font-family: 'Montserrat', sans-serif !important;
}
