@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "tailwindcss";
@config "../../../tailwind.config.js";
@source "../../../node_modules/@heroui/theme/dist";
@custom-variant dark (&:is(.dark *));

:root {
  font-family: var(--font-sans);
}

@theme {
  --font-sans: "Open Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.checkbox-field span::before {
  border-width: 0px;
}

.checkbox-field span::after {
  border-radius: 0px;
}
